@use 'colors';
@use 'mixins';
body{
    background: colors.$background;
    min-height: 100vh;
    @include mixins.flexCenter;
    flex-direction: column;
   justify-content: flex-start;
   padding: 4rem;
}