.header__toggle{
    appearance: none;
    width: 10rem;
    height: 5rem;
    border:0.1rem solid #FFBF78;
    border-radius: 5rem;
    position: relative;
}

.header__toggle::after{
    content: "";
    position: absolute;
    height: 6rem;
    width: 6rem;
    background: #FFBF78;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}